---
layout: default
---

<section>

    <h2>About Me</h2>

    <p>I am a full stack web developer with over 7+ years of experience in building web sites and web applications primarly in PHP and JavaScript.</p>

    <p>My current dayjob tech stack is Laravel and MySQL for backend development with Inertia.js, Vue.js and BootStrap + custom SCSS for frontend development, with Git and Gitlab for version control.</p>

    <p>In my spare time I am teaching myself Python and will explore this among other topics related to web development in this blog.</p>

    <p>If anything here interests you please share it and if it really interests you and really feel to have to let me know, you can <a href="mailto:hello@petewond.co.uk">email me</a>.</p>

</section>

<section>

    <h2>Articles</h2>

    {% assign last_year = '0' %}

    {% for post in site.posts %}
        
        {% assign cur_year = post.date|date: "%Y" %}
        
        {% if last_year != cur_year %}
            {% if forloop.first %}
                <h3>{{ cur_year }}</h3>
            {% else %}
                </ul>
                <h3>{{ cur_year }}</h3>
            {% endif %}
            
            <ul>
            
            {% assign last_year = cur_year %}
        
        {% endif %}
        
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        
        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}

</section>